<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cee_project1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".CEEApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cee_project1"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.InvestViewPagerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".activity.InvestResultActivity"
            android:exported="false" />
        <activity
            android:name=".activity.InvestFinalActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".activity.InvestSelectActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".activity.InvestMainActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".activity.FinishQuizActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.TermActivity" />
        <activity android:name=".activity.QuizActivity" />
        <activity android:name=".activity.TermListActivity" />
    </application>

</manifest>